{% extends 'base_generic.html' %}
{% block content %}
    {% if bookinstance_list %}
        {% for book in bookinstance_list %}
            <h1><a href="{% url 'book-detail' book.book.pk %}">{{book.book.title}}</a> ({{book.id}})</h1>
            <p>Заемщик: {% if book.borrower %}{{book.borrower}}{% else %}хз кто взял{% endif %}</p>
            <p>Дата возврата: {% if book.due_back %} <span class="{% if book.is_overdue %}text-danger{% endif %}"><a href="{% url 'renew-book-librarian' book.id %}">{{book.due_back}}</a></span>{% else %}Дата не указана {% endif %}</p>
        {% endfor %}
    {% endif %}
{% endblock %}